home/xmonad/.xmonad/xmonad-x86_64-linux
home/tmux/.config/tmux/plugins/
*.hi
*.o
*~

*.db
*.db.lock
*#
*~
home/pure_emacs/.emacs.d/.cache/
home/pure_emacs/.emacs.d/elpa/
home/pure_emacs/.emacs.d/org-roam.db
home/pure_emacs/.emacs.d/projectile-bookmarks.eld
home/pure_emacs/.emacs.d/recentf
home/pure_emacs/.emacs.d/transient/
home/pure_emacs/.emacs.d/.org-id-locations
