home/xmonad/.xmonad/xmonad-x86_64-linux
home/tmux/.config/tmux/plugins/
*/**/*.hi
*.ini
*.o
*~
.obsidian
*.db
*.db.lock
*#
*~
nix/result
home/pure_emacs/.emacs.d/.cache/
home/pure_emacs/.emacs.d/elpa/
home/pure_emacs/.emacs.d/org-roam.db
home/pure_emacs/.emacs.d/projectile-bookmarks.eld
home/pure_emacs/.emacs.d/recentf
home/pure_emacs/.emacs.d/transient/
home/pure_emacs/.emacs.d/.org-id-locations
home/pure_emacs/.emacs.d/.lsp-session-v1
home/pure_emacs/.emacs.d/url
home/pure_emacs/.emacs.d/session*
home/xmonad/.xmonad/xmonad.errors
home/pure_emacs/.emacs.d/bb/
home/pure_emacs/.emacs.d/eln-cache/
home/pure_emacs/.emacs.d/straight/
home/pure_emacs/.emacs.d/icons/
home/pure_emacs/.emacs.d/private/
home/pure_emacs/.emacs.d/private/*
home/emacs/.emacs.d/ltximg/
home/emacs/.emacs.d/.*
home/emacs/.emacs.d/icons
home/emacs/.emacs.d/icons/
home/emacs/.emacs.d/

