*{
    font-family: mononoki, Mononoki NerdFont, sans-serif;
    font-size: 16px;
    min-height: 0;
    color: white;
}

window#waybar {
    background: #282420;
}

#workspaces{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 0px;
    margin-right: 10px;
    padding: 4px 10px;
    font-weight: bolder;
    background-color: #181818;
    
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    background: rgba(84, 84, 84, 0.5);
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
  padding: 0 10px;
}


